---
// Define your custom links here as an array of objects
const customLinks = [
  { name: 'GitHub', url: 'https://github.com/yourusername', icon: 'github' },
  { name: 'Twitter', url: 'https://twitter.com/yourusername', icon: 'twitter' },
  { name: 'eBay Store', url: 'https://www.ebay.com/usr/yourstore', icon: 'shop' },
  { name: 'Kraken', url: 'https://www.kraken.com', icon: 'crypto' },
  // Add more as needed
];
---

<ul class="links-list">
  {customLinks.map(link => (
    <li>
      <a href={link.url} target="_blank" rel="noopener noreferrer">
        <!-- Use Iconify for icons; add script to your layout head if needed -->
        <iconify-icon icon={`mdi:${link.icon}`}></iconify-icon>
        {link.name}
      </a>
    </li>
  ))}
</ul>

<style>
  .links-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  .links-list a {
    color: #333;
    text-decoration: none;
  }
</style>
